@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

$bege: #C8A876;
$branquin: #F9F8F5;

.home-container {
  @include fastDisplay(flex-start, column, nowrap);
  background-color: $branquin;
  min-height: 100vh;
  width: 100%;
}