$rosa: #B4116D;
$cinza: #777;
$pretin: #343434;

header {
  width: 100vw;
  height: 100px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;

  .logotipo {
    width: 100px;
    height: 100%;
  }

  .links-header {
    color: $cinza;
    font-size: 20px;
    position: relative;
    cursor: pointer;
    text-transform: capitalize;
    font-weight: 600;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      margin: 10px 0;
      bottom: -150%;
      left: 0;
    }

    &:hover {
      color: $rosa;

      &::after {
        background-color: $rosa;
      }
    }
  }

  .links-icons {
    border: 2px solid #777;
    border-radius: 50%;
    font-size: 30px;
    color: #777;
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
