@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

$bege: rgb(215, 195, 164);

.recommended-content {
  @include fastDisplay(space-evenly, column, nowrap);
  background: rgb(158,76,29);
background: radial-gradient(circle, rgba(158,76,29,1) 4%, rgba(131,67,30,1) 28%, rgba(129,56,16,1) 55%, rgba(57,20,0,1) 100%);
  position: relative;
  height: 100vh;
  width: 100%;

  .recommended-title {
    @include fastDisplay(center, row, nowrap);
    height: 15%;
    width: 100%;

    h1 {
      font-family: 'GAELA', sans-serif;
      font-weight: 400;
      font-size: 26px;
      position: relative;
      &::after {
        content: '';
        position: absolute;
        display: block;
        width: 200%;
        margin-left: 50px;
        top: 20%;
        left: 100%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        margin-top: 10px;
      }
      &::before {
        content: '';
        position: absolute;
        display: block;
        width: 200%;
        margin-right: 50px;
        top: 20%;
        right: 100%;
        height: 2px;
        background-color: rgb(0, 0, 0);
        margin-top: 10px;
      }
    }
  }

  .products-content {
    height: 85%;
    width: 85%;
  }

  .recommended-options {
    @include fastDisplay(space-evenly, row, nowrap);
    height: 10%;
    width: 35%;

    a {
      font-family: 'GAELA', sans-serif;
      font-size: 20px;
    }

    .selected {
      text-decoration: underline;
      line-height: 110%;
    }
  }
}