@mixin fastDisplay($x, $y, $z) {
  display: flex;
  align-items: center;
  justify-content: $x;
  flex-flow: $y $z;
}

.wine-card {
  @include fastDisplay(space-evenly, column, nowrap);
  background-color: white;
  width: 23%;
  margin: 10px;
  text-align: center;
  height: 450px;

  &:hover {
    img {
      transform: scale(1.1);
    }

    button {
      color: white;
      background-color: black;
    }
  }

  .city {
    font-size: 14px;
  }

  .price {
    font-size: 20px;
  }

  .bold {
    font-weight: 600;
  }

  img {
    width: 50%;
    transition: 0.5s;
  }

  button {
    cursor: pointer;
    transition: 0.5s;
    background-color: transparent;
    border: 1px solid black;
    padding: 12px;
  }
}